:root {
  --background-light-color: #f5f5f5;
  --background-dark-color: #b8b6b6;
  --success-color: #cdc1ff;
  --error-color: #e17b9a;
  --layout-width-max: 800px;
  --layout-border-radius: 4px;
  --layout-gap-size: 20px;
  --layout-padding: 10px;
  --font-opacity: 0.8;
}
