:root {
  --background-light-color: #f5f5f5;
  --background-dark-color: #b8b6b6;
  --success-color: #d1f8ef;
  --error-color: #ff8080;
  --layout-width-max: 650px;
  --layout-border-radius: 4px;
  --layout-gap-size: 20px;
  --layout-padding: 20px;
  --font-opacity: 0.8;
}
