.container {
  justify-content: space-around;
  margin-bottom: 10px;

  ::ng-deep .mat-chip-option {
    background-color: rgba(46, 46, 46, 0.1);
    transition: background-color 0.8s ease;
    color: #333;
  }

  ::ng-deep .mdc-evolution-chip--selected {
    background-color: #dad2ff !important;
    color: #fff !important;
  }

  ::ng-deep .mat-chip-option:hover {
    background-color: #dad2ff;
  }

  ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
    display: none !important;
  }

  ::ng-deep
    .mat-mdc-standard-chip
    .mdc-evolution-chip__text-label:not(:only-child) {
    padding-left: 12px;
  }
}
